---
#Only the main Sass file needs front matter
---

@charset "utf-8";

$muted-text-color: #3f3f3f !default;
$primary-color: #238197 !default;
$link-color: #DE8859 !default;
$masthead-link-color: $primary-color !default;
$masthead-link-color-hover: mix(#fff, $primary-color, 20%) !default;
$navicon-link-color-hover: mix(#fff, $link-color, 20%) !default;
$global-font-family: "Montserrat";
$header-font-family: "Helvetica Neue";
$caption-font-family: "Helvetica Neue";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// custom CSS here

a,
h1,
h2,
h3 { 
    color: #238197; 
}

